@emoji-size: 2em;

.emojify { width: @emoji-size; height: @emoji-size; display: inline-block; margin-bottom: -0.15em; }

@import 'emojify.emoticons.less';
@import 'emojify.people.less';
//@import 'emojify.nature.less';
//@import 'emojify.objects.less';
//@import 'emojify.places.less';
//@import 'emojify.symbols.less';
