
/* Reset*/

ol, ul {
  list-style: none;
}

a img {border:none}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}

/* Colors */

@Gray:   #8c8c85;
@Green:  #69c62b;
@Red:    #ff0a0b;
@Yellow: #d8d14c;

@HeaderTextColor: white;
@HeaderBgColor: #f8991d;

@MenuBgColor: #b0a9a0;
@MenuTextColor: white;
@MenuBorderColor: #978e81;

@ContactsListBorderColor: #dbdbdb;
@ContactsListBgColor: #f5f5f5;
@ContactsListTextColor: black;
@ContactsListStatusTextColor: #f8991d;

@ContactsPendingMessageBgColor: #f8991d;
@ContactsPendingMessageTextColor: white;
@ContactsPendingMessageBorderColor: #b0a9a0;

@ProfileNameBgColor: #f8991d;
@ProfileNameTextColor: white;
@ProfileStateBgColor: #f5f5f5;
@ProfileStateTextColor: #888;
@ProfileStateBorderColor: #978e81;

@BubbleLeftBgColor: #cfd0d5;
@BubbleLeftTextColor: black;
@BubbleRightBgColor: #f4b120;
@BubbleRightTextColor: white;

@LoginTextColor: #978e81;
@LoginInputBgColor: #ddd;
@LoginBgColor: #f8991d;

@NoticeTextColor: #b93e41;

@ChatHeaderBgColor: #f8991d;
@ChatHeaderTextColor: white;
@ChatMessageTextColor: black;
@ChatMessageBgColor: white;

@SettingsTextColor: white;
@SettingsBgColor: #252424;
@SettingsBorderColor: #4f4f51;
@SettingsListBgColor: #5a5858;
@SettingsListBorderColor: #373535;

@AddContactColor: Gray;
@RejectSubscriptionColor: white;

@CircularNavColor : #F8991D;
@CircularNavWrapperColor : white;
@CircularNavMediumBorderColor : #8c8c85;

@notificationsBgColor: #f5f5f5;
@notificationsBorderColor: #dbdbdb;
@notificationsTextColor: black;

/* Globals */

@BaseFontSize:      13px;
@BaseLineHeight:    15px;

@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

html, body, body > section, article {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  padding-bottom: 60px;
}

article  {
  display: block;
  overflow-y: hidden;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: @BaseFontSize;
  color: black;
  margin: 0;
}

header.main {
  height: (@BaseLineHeight * 3.2);
  display: block;
  background-color: @HeaderBgColor;

  h1 {
    font-size: (@BaseFontSize * 1.5);
    display: inline;
    line-height: (@BaseLineHeight * 3.5);
    color: @HeaderTextColor;
    font-weight: normal;
  }

  .menu {
    float: right;
    margin-top: (@BaseLineHeight * 1);
    margin-right: (@BaseFontSize * 2);

    a {
      display: inline-block;
      cursor: pointer;

      &.search-icon {
        background-image: url('../img/lupa.png');
        height: 24px;
        width: 24px;
      }

      &.contacts-icon {
        background-image: url('../img/contacts.png');
        height: 28px;
        width: 48px;
      }
    }
  }
}

/* Sub-menu */

nav.submenu {
  width: 100%;
  display: block;
  height: (@BaseLineHeight * 3.2);
  background-color: @MenuBgColor;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
      border-right: 1px solid @MenuBorderColor;
      background-color: inherit;

      a {
        display: block;
        width: 100%;
        text-align: center;
        height: 42.5px;

        &.active {
          border-bottom: 5px solid @MenuBorderColor;
        }

        i {
          display: block;
          margin: 0 auto;
          padding-top: @BaseLineHeight;
          background-repeat: no-repeat;
          background-position: center center;
          width: 35px;
          height: 24px;

          &.chat-icon {
            background-image: url('../img/chat.png');
          }
          &.contact-icon {
            background-image: url('../img/contact.png');
          }          
          &.favorite-icon {
            background-image: url('../img/favorites.png');
          }

          &.profile-icon {
            background-image: url('../img/profile.png');
          }
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.contacts {
  figure {
    display: inline-block;
    text-align: center;
    width: 4.5em;
    height: 4.5em;
    overflow: hidden;
    border: @ContactsListBorderColor solid 1.5px;
    border-radius: 50%;

    img {
      width: auto;
      height: 100%;
    }

    &.no-photo {
      border: none;
    }
  }

  .offline-contacts-list {
    opacity: .3;
  }

  article > div {
    border-bottom: 2px solid @ContactsListBorderColor;
    cursor: pointer;
    color: @ContactsListTextColor;
    background-color: @ContactsListBgColor;
    position: relative;
  }

  .status {
    display: inline-block;
    padding-top: @BaseLineHeight;
    position: relative;
    top: @BaseLineHeight;
    line-height: (@BaseLineHeight * 1.25);
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: (@BaseLineHeight * 3.35);

    .contact-nickname {
      font-weight: normal;
      font-size: (@BaseFontSize * 1.4);
      display: inline;
      white-space: nowrap;
    }

    .contact-status {
      color: @ContactsListStatusTextColor;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .last-message {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }    

    .contact-composing {
      color: @ContactsListStatusTextColor;
      font-weight: bold;
      visibility: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .composing {
      visibility: visible;
    }   
  }

  @media @portrait {
    .status {
      max-width: 33%;
    }
  }

  @media @landscape {
    .status {
      max-width: 50%;
    }
  }

  .contact-option(@baseImg, @activeImg) {
    width: 24px;
    height: 24px;
    background-image: url(@baseImg);
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    position: relative;
    top: (@BaseLineHeight * 2);
    right: (@BaseFontSize * 3);

    &.active {
      background-image: url(@activeImg);
    }
  }

  .contact-favorite {
    .contact-option("../img/favorite01.png","../img/favorite02.png");
    display: block;
  }

  .contact-delete {
    .contact-option("../img/delete-hdpi.png","../img/delete2-hdpi.png");
    display: none;
  }

  .contact-state(@state-color: @Gray) {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: @state-color ;
    display: block;
    background-position: center center;
    float: right;
    position: relative;
    top: (@BaseLineHeight * 4.5);
    right: (@BaseFontSize * 1.5);
  }

  .available {
    .contact-state(@Green);
  }

  .dnd, .xa {
    .contact-state(@Red);
  }

  .away {
    .contact-state(@Yellow);
  }

  .unavailable {
    .contact-state;
  }

  .contact-messages {
    position: absolute;
    border-radius: 1.5em;
    background-color: @ContactsPendingMessageBgColor;
    width: 1.5em;
    text-align: center;
    font-size: (@BaseFontSize - 2);
    color: @ContactsPendingMessageTextColor;
    border: 1.5px solid @ContactsPendingMessageBorderColor;
    height: 1.5em;
    line-height: 17px;
    left: 83px;
    display: none;
  }
  
}

footer {
  text-align: center;
  margin-top: @BaseLineHeight;
  margin-bottom: -@BaseLineHeight;
}

.chat {
  height: 100%;
  overflow: hidden;

  header {
    background-color: @ChatHeaderBgColor;
    color: @ChatHeaderTextColor;
    height: (@BaseLineHeight * 3);

    a {
      width: 32px;
      height: 36px;
      margin-left: 5px;
      display: inline-block;
      text-align: center;
    }

    .title {
      display: inline-block;
      position: relative;
      top: 4px;
      text-overflow: ellipsis;

      h1 {
        font-weight: normal;
        font-size: (@BaseFontSize * 1.5);
        line-height: @BaseLineHeight;
        margin-left: @BaseLineHeight;
      }
      
      @media @portrait {
        h1 {
          font-size: @BaseFontSize;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 150px;
        }

        p {
          font-size: (@BaseFontSize / 1.1);
        }
      }

      p {
        font-size: @BaseFontSize;
        margin-left: (@BaseFontSize * 4);
      }
    }

    @media @portrait {
      .title {
        font-size: @BaseFontSize;
      }
    }
  }

  article {
    background-image: url('../img/terra/pttrn-dark.png');
    background-repeat: repeat;

    .more {
      background-color: transparent;
      border: medium none;
      border-radius: 10px 10px 10px 10px;
      color: @ChatHeaderTextColor;
      display: block;
      font-size: 12px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      height: 35px;

      &:hover {
        color: @ChatHeaderTextColor;
      }
    }
    .more-empty {
      color: @ChatHeaderTextColor;
      text-align: center;
      display: block;
      font-size: 12px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }    

    .messages {
      height: calc(~"100% - 158px");
      overflow-y: scroll;
      padding: 10px (@BaseFontSize * 2.5);
      .bubble {
        padding-bottom: @BaseLineHeight;

        .message {
          display: inline-block;
          border-radius: 10px;
          padding: 5px 15px;
          position: relative;
          top: 24px;
          max-width: 67%;
          word-wrap: break-word;
          z-index: 1;
        }

        .time {
          text-align: right;
          font-size: (@BaseFontSize / 1.18);
        }

        .username-groupchat {
          font-weight: bold;
          color: white;
          border-bottom: 1px #8c8c85;
          border-bottom-style: inset;
          text-shadow: gray 0.1em 0.1em 0.2em;
        }

        @media @portrait {
          .message {
            max-width: 150px;
          }
        }

        &.left {
          text-align: left;
          background-image: url('../img/terra/bubble-left.png');
          background-repeat: no-repeat;
          background-position: 3.5em 20px;
          position: relative;

          .message {
            background-color: @BubbleLeftBgColor;
            color: @BubbleLeftTextColor;
            left: 1px;

            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.05, rgb(148,149,153)),
              color-stop(0.53, rgb(207,208,213))
            );
            background-image: linear-gradient(bottom, rgb(148,149,153) 5%, rgb(207,208,213) 53%);
          }

          img {
            width: 3.5em;
            height: 3.5em;
            border-radius: 6em;
            vertical-align: top;
            border: @ContactsListBorderColor solid 1.5px;

            &.no-photo {
              border: none;
            }
          }

          @media @portrait {
            img {
              max-width: 6em;
            }
          }

          .writing {
            border: none;
            z-index: 1;
            position: absolute;
            width: 1.8em;
            height: 1.8em;
            left: 28px;
            top: -3px;
            visibility: hidden;         
          }

          .show-writing {
            visibility: visible;
          }     
        }

        &.right {
          text-align: right;
          position: relative;

          .message-status {
            width: 20px;
            height: 5px;
            top: 27px;
            right: 0;
            z-index: 2;
            position: absolute;
            background: none no-repeat center left;
          }

          .sended {
            background-image: url('../img/enviando.png');
          }

          .received {
            background-image: url('../img/enviando-enviado.png');
          }

          .seen {
            background-image: url('../img/enviando-enviado-recibido.png');
          }

          .message {
            background-color: @BubbleRightBgColor;
            color: @BubbleRightTextColor;
            right: -6px;

            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.05, rgb(199,119,22)),
              color-stop(0.53, rgb(244,177,32))
            );
            background-image: linear-gradient(bottom, rgb(199,119,22) 5%, rgb(244,177,32) 53%);
          }

          img {
            position: absolute;
            bottom: -15px;
            right: -12px;
          }
        }
      }
    }

    .adjust {
      height: calc(~"100% - 123px");
    }
    
    form {
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 67px;
      margin: 0;

      .input-append {
        margin-bottom: 0;

        .emoticon-box {
          overflow-x: scroll;
          overflow-y: hidden;
          height: 3em;
          font-size: (@BaseFontSize * 1.5);
          background: rgb(0,0,0);
          background: rgba(0,0,0,.5);
          position: absolute;
          bottom: 0;
          width: 12em;
          margin-left: 41px;
          margin-top: 9px;
          border-radius: 9px;

          div {
            cursor: pointer;
          }
        }
        
        @media @portrait {
          .emoticon-box {
            width: 8em;
          }
        }
      }

      .msg {
        border-radius: 10px 10px 10px 10px;
        padding: 5px 15px;
        height: 45px;
        background-color: @ChatMessageBgColor;
        width: (@BaseFontSize * 15);
        color: @ChatMessageTextColor;
        font-size: @BaseFontSize;
        text-align: left;
        display: inline-block;
        overflow: visible;

        @media @portrait {
          .status {
            max-width: 50%;
          }
        }

        @media @landscape {
          .status {
            max-width: 75%;
          }
        }
      }

      @media @portrait {
        .msg {
          max-width: (@BaseFontSize * 9);
        }
      }

      input[type='submit'] {
        border: 0;
        background: url('../img/send-chat.png') no-repeat center left;
        line-height:3000;
        width: 22px;
        height: 32px;
        margin-left: @BaseFontSize;
        color: transparent;
        top: 13px;
      }

      .show-emoticon-box {
        margin-top: -10px;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}

.profile {
  figure {
    text-align: center;

    img {
      border-radius: 12em;
      width: 12em;
      height: 12em;
      min-width: 4em;
      min-height: 4em;
      cursor: pointer;
    }
  }

  article {
    header {
      background-color: @ProfileNameBgColor;

      h1 {
        color: @ProfileNameTextColor;
        font-weight: normal;
        font-size: (@BaseFontSize * 1.5);
        padding-left: @BaseLineHeight;
        display: inline-block;
      }

      a {
        float: right;
        width: 60px;
        height: 60px;
        text-align: center;

        img {
          margin-top: 21px;
        }
      }
    }

    p {
      background-color: @ProfileStateBgColor;
      color: @ProfileStateTextColor;
      padding: @BaseLineHeight;
      border-bottom: 3px solid @ProfileStateBorderColor;
      margin: 5px 0;
    }

    .user-presence(@state-color: @Gray) {
      width: 12px;
      height: 12px;
      border-radius: 50px;
      background-color: @state-color ;
      background-position: center center;
      float: left;
      position: relative;
      top: (@BaseLineHeight / 3);
      margin-right: (@BaseFontSize/1.5);
    }

    .presence-available {
      .user-presence(@Green);
    }

    .presence-dnd, .presence-xa {
      .user-presence(@Red);
    }

    .presence-away {
      .user-presence(@Yellow);
    }

    .presence-unavailable {
      .user-presence;
    }
  }
}

.login, .signup {
  display:table;

  article {
    background-image: url('../img/terra/pttrn-light.png');
    background-repeat: repeat;
    height: auto;
    width: inherit;
    padding-bottom: @BaseFontSize;
    padding-top: @BaseFontSize;
    display:table-cell; 
    vertical-align:middle;

    header {
      h1.logo {
        background-image: url("../img/terra/logo-chat.png");
        margin: 0 auto;
        width: 95px;
        height: 86px;
        display: block;
        background-repeat: no-repeat;
        padding-top: 10px;
      }

      h2 {
        text-align: center;
        font-size: (@BaseFontSize * 1.8);
        color: @LoginTextColor;
      }
    }
    
    form {
      text-align: center;
      margin: 0;

      img {
        margin-top: -8px;
      }

      a {
        color: @LoginTextColor;
      }

      input[type='text'], input[type='password'] {
        border-radius: 0;
        background-color: rgb(245,245,245);
        background-color: rgba(245,245,245,.4);
        border-bottom: 2px solid @LoginTextColor;
        padding: 5px 10px;
        width: (@BaseFontSize * 16);
      }

      @media @portrait {
        input[type='text'], input[type='password'] {
          max-width: (@BaseFontSize * 11);
        }
      }

      input[type='submit'] {
        background-image: url('../img/terra/check.png');
        background-repeat: no-repeat;
        height: 57px;
        width: 57px;
        background-color: transparent;
        border: none;
        color: transparent;
        margin-top: (@BaseLineHeight * 1.2);
      }

      .alert-error {
        display: none;
      }
      .alert-success {
        display: none;
      }
    }
  }
}

.signup {
  display: none;
}

.noscriptmsg {
  color: @NoticeTextColor;
  font-size: @BaseFontSize;
  text-align: center;
}

canvas,
.contact-list .contact-last,
.talk-list .status-text,
.favorite .status-text,
.last-message {
  display: none;
}

input[type='file'] {
 width: 0;
 height: 0;
 overflow: hidden;
}

.no-content {
  text-align: center;
  margin-top: @BaseLineHeight;

  h4 {
    font-weight: normal;
    margin-bottom: 0;
  }
  p {
    color: @MenuBgColor;
    margin-bottom: 0;
  }
}

.wrap {
  transition: all 0.25s ease;
}

/* Sidebar */
.settings {
  position: absolute;
  color: @SettingsTextColor;
  width: 0;
  height: 100%;
  top: 48px;
  left: 0;
  overflow: hidden;
  background-color: @SettingsBgColor;
  transition: all 0.25s ease;
  z-index:1000;

  &.expand {
    width: 80%;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      background-color: @SettingsListBgColor;
      border-bottom: 2px solid @SettingsListBorderColor;
      border-right: 8px solid @SettingsBorderColor;

      a {
        color: @SettingsTextColor;
        font-size: (@BaseFontSize * 1.4);
        padding: @BaseFontSize 0;
        width: 100%;
        display: block;

        &:hover {
          text-decoration: none;
        }

        figure {
          text-align: center;
          width: (@BaseFontSize * 1.7);
          display: inline-block;
          margin: 0 (@BaseFontSize * 2.7) 0 (@BaseFontSize * 1.1);

          img {
            max-width: 2em;
          }
        }
      }
    }
  }
}

.main a {
  padding: 0 (@BaseFontSize * 1.4);
  color: @MenuTextColor;
  font-size: (@BaseFontSize * 1.7);

  &:hover {
    text-decoration: none;
  }
}

.show-settings {
  transform: translateX(80%);
}

.touch-contact {
  cursor: pointer;
}

.select-contact {
  position:relative;
}

.circular-nav {
  
  display:none;

  .circular-button-base {
    background-repeat: no-repeat;
    background-color: transparent;
    border-bottom: none;
    font-size: 1.8em;
    height: 3.5em;
    width: 3.5em;
    position: fixed;
    left: 50%;
    margin-left: -1.6em;
    cursor: pointer;
    z-index: 11;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .circular-button(@button : '../img/terra/plus.png', @bottom: -0.49em ) {
    background-image: url(@button);
    bottom: @bottom;
  }

  .button-plus {
    .circular-button();
  }

  .button-minus {
    .circular-button('../img/terra/minus.png', -0.5em);
  }

  .cn-wrapper {
    font-size: 1em;
    width: 24em;
    height: 24em;
    overflow: hidden;
    position: fixed;
    bottom: -10em;
    left: 50%;
    border-radius: 50%;
    margin-left: -12.5em;
    transform: scale(0.1);
    pointer-events: none;
    transition: all .3s ease;
    background-color: @CircularNavWrapperColor;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    li {
      position: absolute;
      font-size: 1.2em;
      width: 6em;
      height: 5em;
      transform-origin: 100% 100%;
      overflow: hidden;
      left: 50%;
      top: 50%;
      margin-top: -4.3em;
      margin-left: -6em;

      a {
        font-size: 1.18em;
        height: 14.5em;
        width: 14.5em;
        position: absolute;
        bottom: -7.25em;
        right: -7.25em;
        color: #fff;
        padding-top: 1.8em;
        transform: skew(-50deg) rotate(-70deg);

        &:hover {
          text-decoration: none;
        }
      }

      &:first-child {
        transform: rotate(-15deg) skew(50deg);
      }

      &:nth-child(2) {
        transform: rotate(38deg) skew(50deg);
      }

      &:nth-child(3) {
        transform: rotate(94deg) skew(50deg);
      }

      &:nth-child(4) {
        transform: rotate(146deg) skew(50deg);
      }
    }

    i {
      display: block;
      margin: 0 auto;
      padding-top: @BaseLineHeight;
      background-position: center center;
      width: 60px;
      height: 45px;

      &.newgroup-icon {
        background-image: url('../img/newgroup-hdpi.png');
        transform: rotate(83deg);
      }
      &.newchat-icon {
        background-image: url('../img/newchat-hdpi.png');
        transform: rotate(35deg)
      }
      &.edit-icon {
        background-image: url('../img/edit-hdpi.png');
        transform: rotate(-19deg)
      }
      &.adduser-icon {
        background-image: url('../img/add-user-hdpi.png');
        transform: rotate(-77deg)
      }
    }
  }

  .opened-nav {
    pointer-events: auto;
    transform: scale(1);
    border: 7px solid @CircularNavColor;
    border-top: 7px solid @CircularNavMediumBorderColor;
  }

  @media screen and (max-width:480px) {
    .cn-wrapper {
      transform: scale(0.01);
    }

    .opened-nav {
      transform: scale(0.80);
    }
  }
}

.contact-status div.emojify {
  height: 1em;
  width : 1em;
  background-size: 1em;
}

.add-contact {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: @AddContactColor;
}

.add-contact-section {

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  header {
    background-color: @ProfileNameBgColor;
    text-align: center;

    h1 {
      color: @ProfileNameTextColor;
      font-weight: normal;
      font-size: (@BaseFontSize * 1.5);
      padding-left: @BaseLineHeight;
      display: inline-block;
      margin-left: 42px;
    }

    a {
      float: right;
      width: 60px;
      height: 60px;
      text-align: center;

      img {
        margin-top: 21px;

        @media screen and (max-width:340px) {
          margin-top: -72px;
          margin-left: 27px;
        }
      }
    }

    @media screen and (max-width:330px) {
      text-align: left;
    }
  }
}

.subscription {
  float: right;
  position: relative;
  top: 30px;
  right: 39px;
}

.add-contact-button {
  margin-right: 9px;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.configuration {
  .parameters article {
    background-color: @notificationsBgColor;
    color: @notificationsTextColor;
    border-bottom: 1px solid @notificationsBorderColor;

    div:first-child {
      font-size: (@BaseFontSize * 1.4);
      padding: (@BaseFontSize * 1.54);
    }
  }
}

/* ----------------------------------
 * CHECKBOXES / RADIOS
 * ---------------------------------- */

label.pack-checkbox,
label.pack-radio,
label.pack-switch {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  position: relative;
  background: none;
}

label.pack-checkbox input,
label.pack-radio input,
label.pack-switch input {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label.pack-checkbox input + span,
label.pack-radio input + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  pointer-events: none;
}

label.pack-checkbox input + span {
  background: url(switches/images/check/default.png) no-repeat center top / 2.2rem auto;
}

label.pack-radio input + span {
  background: url(switches/images/radio/default.png) no-repeat center top / 2.2rem auto;
}

label.pack-checkbox input:checked + span,
label.pack-radio input:checked + span,
label.pack-switch input:checked + span {
  background-position: center bottom;
}

/* 'Dangerous' switches */

label.pack-checkbox.danger input + span {
  background-image: url(switches/images/check/danger.png);
}

label.pack-radio.danger input + span {
  background-image: url(switches/images/radio/danger.png);
}

/* ----------------------------------
 * ON/OFF SWITCHES
 * ---------------------------------- */

label.pack-switch input + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -2.7rem;
  width: 5.1rem;
  height: 2.1rem;
  pointer-events: none;
  border-radius: 1.2rem;
  border: 0.1rem solid #c2c2c2;
  overflow: hidden;
  background: #e6e6e6 url('../img/switch/background_off.png') no-repeat -3.2rem 0 / 8.3rem 2.1rem;
  transition: background 0.2s ease, border 0.2s ease;
}

/* switch: 'ON' state */
label.pack-switch input:checked + span {
  background: #e6e6e6 url('../img/switch/background.png') no-repeat 0 0 / 8.3rem 2.1rem;
  border-color: #f8991d;
}

/* switch: disabled state */
label.pack-switch input:disabled + span {
  opacity: 0.4;
}

label.pack-switch input.uninit + span {
  transition: none;
}

.create-group {
  p {
    background-color: @ProfileStateBgColor;
    color: @ProfileStateTextColor;
    padding: @BaseLineHeight;
    border-bottom: 3px solid @ProfileStateBorderColor;
    text-align: center;
  }

  input {
    text-align: center;
  }
}

.cl-contact {
  background-color: @ProfileStateBgColor;
  color: @ProfileStateTextColor;
  border: 3px solid @ProfileStateBorderColor;
  border-top: none;
  height: (@BaseLineHeight * 4);
  text-align: right;
  padding-right: 31px;
  width: 190px;
  margin: 0 auto;

  figure {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    overflow: hidden;
    border: @ContactsListBorderColor solid 1.5px;
    border-radius: 50%;
    margin-top: 8px;

    img {
      width: auto;
      height: 100%;
      margin-top: 0;
    }
  }
}

.new-group {
  margin-left: 8px;
}

.center {
  text-align: center;
}

.cl-photo {
  text-align: left;
  position: relative;
  height: 50px;
  display: inline-block;

  figure {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    overflow: hidden;
    border: @ContactsListBorderColor solid 1.5px;
    border-radius: 50%;
    margin: 0 7px;

    img {
      width: auto;
      height: 100%;
      margin-top: 0;
    }
  }
}

.cl-name {
  margin-right: 45px;
}

.participants-input {
  margin-bottom: 0;
}

.cl-delete {
  position: absolute;
  margin-left: -15px;
  margin-top: 3px;
  z-index: 1;
  top: -22px;
  right: -2px;
}

.round-corners {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}